html,
background {
  background-image: url("./images/Norway.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.App {
  text-align: center;
}

h1,
.App-logo {
  display: inline-block;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header,
.App-footer {
  background-color: #282c34;
  min-height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  position: sticky;
}
.App-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.github-link {
  color: #d78f0a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border: 1px solid #ecd2d2;
  background-color: #db5110;
  border-radius: 50%;
  box-shadow: 0px 1px 1px #ca1010, 0px 2px 2px #060100;
  padding: 0.5%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 20px;
}

li {
  list-style: none;
}
h6 {
  text-align: left;
  margin-left: 4%;
}
.city-weather {
  border: 1px solid grey;
  margin: 5% 10% 10% 5%;

  backdrop-filter: blur(60px);
}
.form {
  margin-top: 1%;
}
.text-input {
  width: 250px;
  height: 30px;
  border: 1.5px solid #e2e4e0;
  border-left: 1.5px solid #52565e;
}
.search-button {
  height: 30px;
  color: #1a1a14;
  box-shadow: 0 1px 1px #163772, 0 2px 2px #c96508, 0 3px 3px #784606;
}

.weather-grid {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-transform: capitalize;
}
.box-1 {
  display: flex;
  text-align: start;
  flex-direction: column;
}
.box-2 {
  line-height: 50px;
}
h2 {
  padding: 0;
}
.forecast-grid {
  margin-top: 1%;
  margin-bottom: 4%;
  border-top: 1px solid #768298;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
